  
  :root {
    --text: #010403;
    --background: #f1f9f9;
    --primary: #67c1bb;
    --secondary: #caeceb;
    --accent: #4eb7b0;
  }
  
  @import url("https://fonts.googleapis.com/css?family=Poppins:400|Noto Sans:700");
  
  body {
    font-family: "poppins", sans-serif;
    font-weight: 400;
  }
  
  .logo-img {
    height: 100px;
    padding-left: 80px;
  }
  
  .navbar {
    font-size: 16px;
  }
  
  .navbar-light .navbar-nav .nav-item .nav-link {
    padding: 0 20px;
    color: var(--text);
    transition: 0.3 ease-in-out;
  }
  
  .navbar-light .navbar-nav .nav-item .nav-link:hover,
  .navbar-light .navbar-nav .nav-item .nav-link:active {
    color: var(--primary);
  }
  
  .navbar i {
    font-size: 1.2rem;
    padding: 0 9px;
    cursor: pointer;
    transition: 0.3 ease-in-out;
  }
  
  .navbar i:hover .navbar i:active {
    color: var(--primary);
    filter: drop-shadow(0 0 0.5rem var(--primary));
  }
  
  /* mobile */
  .navbar-light .navbar-toggler {
    border: none;
    outline: none;
  }
  
  .navbar-toggler-icon {
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    transition: 0.3 ease-in-out;
    border-color: var(--primary);
    /* background-color: var(--accent); */
  }
  
  .navbar-toggler-icon:hover,
  .navbar-toggler-icon:active {
    color: var(--primary);
  }
  
  .heading {
    font-size: 30px;
    font-weight: 700;
    color: var(--text);
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.2;
  }

  span {
    color: var(--primary);
    text-transform: lowercase !important;
  }

  .title {
    font-size: 30px;
    font-weight: 700;
    color: var(--text);
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.2;
  }

  .content {
    margin-top: 30px;
    margin-bottom: 100px;
    text-align: start;
    font-size: 20px;
    font-weight: 400;
    color: var(--text);
    line-height: 1.5;
    letter-spacing: 1px;
  }





  
  /* footer */
  
  .footer-img {
    height: 100px;
    margin-bottom: 15px;
  }
  
  footer {
    background-color: var(--accent);
  }
  
  footer h5 {
    color: var(--background);
    font-weight: 700;
    font-size: 1.2rem;
  }
  
  footer h6 {
    color: var(--background);
  }
  
  footer li {
    padding-bottom: 4px;
  }
  
  footer li a {
    text-decoration: none;
    color: var(--secondary);
    transition: 0.3 ease-in-out;
  }
  
  footer li a:hover,
  footer li a:active {
    color: var(--background);
    text-decoration: none;
  }
  
  footer p {
    color: var(--secondary);
    padding-top: 7px;
    font-size: 0.9rem;
  }
  
  footer .email p {
    text-decoration: none;
    transition: 0.3 ease-in-out;
  }
  
  footer .email p:hover,
  footer .email p:active {
    text-decoration: none;
  }
  
  footer .copyright a {
    color: var(--primary);
    font-size: 25px;
    height: 38px;
    width: 38px;
    background-color: white;
    display: inline-block;
    text-align: center;
    /* line-height: 38px; */
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
    margin: 0 8px;
    transition: 0.3 ease-in-out;
  }
  
  footer .copyright a:hover,
  footer .social-icons a:hover {
    color: var(--background);
    background-color: var(--primary);
    text-decoration: none;
  }
  