:root {
    --text: #010403;
    --background: #f1f9f9;
    --primary: #67c1bb;
    --secondary: #caeceb;
    --accent: #4eb7b0;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400|Noto Sans:700');

body {
    position: relative;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    min-height: 100vh;
}

/* Nar Bar */
.logo-img {
    height: 100px;
    padding-left: 80px;
}

.logo-div .logo-img {
    height: 100px;
    padding-left: 80px;
}

.navbar {
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    padding: 0 20px;
    color: var(--text);
    transition: 0.3 ease-in-out;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item .nav-link:active {
    color: var(--primary);
}

.navbar i {
    font-size: 1.2rem;
    padding: 0 9px;
    cursor: pointer;
    transition: 0.3 ease-in-out;
}

.navbar i:hover .navbar i:active {
    color: var(--primary);
    filter: drop-shadow(0 0 0.5rem var(--primary));
}

.greeting {
    color: var(--neutral-gray-1, #303030);
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.72px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: Poppins;
    font-weight: bolder;
}

.google {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background: white;
    appearance: none;
    margin-top: 12px;
}

.googlebtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 1px solid lightgrey;
    height: 60px;
    width: 380px;
    margin-top: 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.or {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.email {
    display: flex;
    justify-content: center;
    align-items: left;
    margin-top: 20px;
    font-size: 15px;
}

.emailbox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#email {
    height: 50px;
    width: 400px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    font-size: 15px;
}

#password {
    height: 50px;
    width: 400px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    font-size: 15px;
}

.fa-regular {
    display: flex;
    align-items: center;
}

.password {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 15px;
}

.pwbox {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.confirm-password {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 15px;
}

.conpwbox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.placeholder {
    font-size: 5px;
}

.input-label {
    width: 400px;
    padding-left: 12px;
    text-align: left;
}

.sign-in-btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#sign-in-btn {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 430px;
    background: var(--primary);
    border: 1px solid lightgrey;
    border: 1px solid lightgrey;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    margin-top: 20px;
}

.loginbox {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: rgb(187, 187, 187);
    font-size: 15px;
}

.createaccbtn {
    color: var(--primary);
    text-decoration: none;
}

input:focus {
    box-shadow: 2px 2px 2px 2px lightgrey;
}

input:hover {
    box-shadow: 2px 2px 2px 2px lightgrey;
}

/* Footer */
.footer-img {
    height: 100px;
    margin-bottom: 15px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--accent);
}

footer h5 {
    color: var(--background);
    font-weight: 700;
    font-size: 1.2rem;
}

footer h6 {
    color: var(--background);
}

footer li {
    padding-bottom: 4px;
}

footer li a {
    text-decoration: none;
    color: var(--secondary);
    transition: 0.3 ease-in-out;
}

footer li a:hover,
footer li a:active {
    color: var(--background);
    text-decoration: none;
}

footer p {
    color: var(--secondary);
    padding-top: 7px;
    font-size: 0.9rem;
}

footer .teckyemail p {
    text-decoration: none;
    transition: 0.3 ease-in-out;
    display: flex;
    align-items: left;
}

footer .teckyemail p:hover,
footer .teckyemail p:active {
    text-decoration: none;
}

footer .copyright a {
    color: var(--primary);
    font-size: 25px;
    height: 38px;
    width: 38px;
    background-color: white;
    display: inline-block;
    text-align: center;
    /* line-height: 38px; */
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
    margin: 0 8px;
    transition: 0.3 ease-in-out;
}

footer .copyright a:hover,
footer .social-icons a:hover {
    color: var(--background);
    background-color: var(--primary);
    text-decoration: none;
}