.logo-div .logo-img {
  height: 100px;
  padding-left: 80px;
}

.navbar {
  font-size: 16px;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  padding: 0 20px;
  color: var(--text);
  transition: 0.3 ease-in-out;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item .nav-link:active {
  color: var(--primary);
}

.navbar i {
  font-size: 1.2rem;
  padding: 0 9px;
  cursor: pointer;
  transition: 0.3 ease-in-out;
}

.navbar i:hover .navbar i:active {
  color: var(--primary);
  filter: drop-shadow(0 0 0.5rem var(--primary));
}

.heading {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 28px 80px 20px 80px;
}

.order {
  width: 100%
}

#color-container {
  width: 100%;
}

.order_number {
  font-size: 20px;
  font-weight: bold;
}

.order-container {
  width: 100%;
  padding: 0px 80px;
}

.order .container-fluid {
  margin: 0px;
  padding: 20px;
  background-color: #FFFFFF;
}

.collapsible {
  background-color: #eee;
  color: #000000;
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  width: 30%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* navbar and footer css */
:root {
  --text: #010403;
  --background: #f1f9f9;
  --primary: #67c1bb;
  --secondary: #caeceb;
  --accent: #4eb7b0;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:400|Noto Sans:700");

body {
  font-family: "poppins", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins";
  font-weight: 700;
}

html {
  font-size: 100%;
}

/* 16px */

h1 {
  font-size: 4.21rem;
  /* 67.36px */
}

h2 {
  font-size: 3.158rem;
  /* 50.56px */
}

h3 {
  font-size: 2.369rem;
  /* 37.92px */
}

h4 {
  font-size: 1.777rem;
  /* 28.48px */
}

h5 {
  font-size: 1.333rem;
  /* 21.28px */
}

small {
  font-size: 0.75rem;
  /* 12px */
}

.logo-img {
  height: 100px;
  padding-left: 80px;
}

.navbar {
  font-size: 16px;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  padding: 0 20px;
  color: var(--text);
  transition: 0.3 ease-in-out;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item .nav-link:active {
  color: var(--primary);
}

.navbar i {
  font-size: 1.2rem;
  padding: 0 9px;
  cursor: pointer;
  transition: 0.3 ease-in-out;
}

.navbar i:hover .navbar i:active {
  color: var(--primary);
  filter: drop-shadow(0 0 0.5rem var(--primary));
}

/* mobile */
.navbar-light .navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler-icon {
  font-size: 1.5rem;
  padding: 7px;
  cursor: pointer;
  transition: 0.3 ease-in-out;
  border-color: var(--primary);
  /* background-color: var(--accent); */
}

.navbar-toggler-icon:hover,
.navbar-toggler-icon:active {
  color: var(--primary);
}

.footer-img {
  height: 100px;
  margin-bottom: 15px;
}

footer {
  background-color: var(--accent);
}

footer h5 {
  color: var(--background);
  font-weight: 700;
  font-size: 1.2rem;
}

footer h6 {
  color: var(--background);
}

footer li {
  padding-bottom: 4px;
}

footer li a {
  text-decoration: none;
  color: var(--secondary);
  transition: 0.3 ease-in-out;
}

footer li a:hover,
footer li a:active {
  color: var(--background);
  text-decoration: none;
}

footer p {
  color: var(--secondary);
  padding-top: 7px;
  font-size: 0.9rem;
}

footer .email p {
  text-decoration: none;
  transition: 0.3 ease-in-out;
}

footer .email p:hover,
footer .email p:active {
  text-decoration: none;
}

footer .copyright a {
  color: var(--primary);
  font-size: 25px;
  height: 38px;
  width: 38px;
  background-color: white;
  display: inline-block;
  text-align: center;
  /* line-height: 38px; */
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
  margin: 0 8px;
  transition: 0.3 ease-in-out;
}

footer .copyright a:hover,
footer .social-icons a:hover {
  color: var(--background);
  background-color: var(--primary);
  text-decoration: none;
}