:root {
    --text: #010403;
    --background: #f1f9f9;
    --primary: #67c1bb;
    --secondary: #caeceb;
    --accent: #4eb7b0;
}


@import url('https://fonts.googleapis.com/css?family=Poppins:400|Noto Sans:700');

body {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Poppins';
    font-weight: 700;
}

html {
    font-size: 100%;
}

/* 16px */

h1 {
    font-size: 4.210rem;
    /* 67.36px */
}

h2 {
    font-size: 3.158rem;
    /* 50.56px */
}

h3 {
    font-size: 2.369rem;
    /* 37.92px */
}

h4 {
    font-size: 1.777rem;
    /* 28.48px */
}

h5 {
    font-size: 1.333rem;
    /* 21.28px */
}

small {
    font-size: 0.750rem;
    /* 12px */
}


.product-detail-card-container {
    margin: 50px 80px;
}

.product-image-left {
    background-size: cover;
    background-position: center;
    height: 400px;
}

.description {
    padding: 20px;
}

.description-text {
    margin-bottom: 20px;
}

.product-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.frame {
    border: 1px solid #ccc;
    padding: 20px;
    border: none;
}

.product-detail {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;

}



.specs {
    margin-bottom: 20px;
}

.specs-text {
    margin-bottom: 10px;
}

.title-specs {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.metrics {
    display: flex;
    flex-wrap: wrap;
}

.div-2 {
    flex: 1 1 33.33%;
    margin-bottom: 10px;
    text-align: center;
}

.specs-subtitle {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.subtitle-storage,
.storage-div {
    display: block;
}

.subtitle-storage.hidden,
.storage-div.hidden {
    display: none;
}

.subtitle-value {
    font-size: 14px;
}

.amount {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.quantity {
    flex: 1;
    margin-right: 20px;
}

.amount-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.stepper {
    display: flex;
    align-items: center;
}

.reduce,
.add {
    font-size: 24px;
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;
}

.number-of-quantity {
    min-width: 20px;
    font-size: 24px;
    font-weight: bold;
    margin: 0 10px;
}

/* .button-medium {
    flex: 1;
}*/

.add-to-card-btn {
    background-color: var(--accent);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.frame-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

.product-price-title {
    font-size: 20px;
    font-weight: bold;
}

.product-price-value {
    font-size: 24px;
    font-weight: bold;
}