.logo-div .logo-img {
  height: 100px;
  padding-left: 80px;
}

.navbar {
  font-size: 16px;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  padding: 0 20px;
  color: var(--text);
  transition: 0.3 ease-in-out;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item .nav-link:active {
  color: var(--primary);
}

.navbar i {
  font-size: 1.2rem;
  padding: 0 9px;
  cursor: pointer;
  transition: 0.3 ease-in-out;
}

.navbar i:hover .navbar i:active {
  color: var(--primary);
  filter: drop-shadow(0 0 0.5rem var(--primary));
}

.product-headers-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}

h3 {
  font-family: Noto Sans;
  font-size: 36px;
}

.filter {
  display: flex;
  width: 80%;
  padding: 8px 24px;
  justify-content: space-between;
  align-items: flex-start;
}

.left-button-box {
  display: flex;
  justify-content: flex-start;
}

.button-box {
  display: flex;
  padding: 12px 24px;
  align-items: center;
  gap: 8px;
}

select {
  display: flex;
  padding: 12px 24px;
  align-items: center;
  gap: 8px;
  padding: 0;
  border: none;
}
