:root {
    --text: #010403;
    --background: #f1f9f9;
    --primary: #67c1bb;
    --secondary: #caeceb;
    --accent: #4eb7b0;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400|Noto Sans:700');

body {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
}
footer {
    font-family: 'poppins', sans-serif;
}
a:hover {
    text-decoration: none;
}


/* Nav Bar */
.logo-img {
    height: 100px;
    padding-left: 80px;
  }

.navbar {
    font-size: 16px;
  }
  
  .navbar-light .navbar-nav .nav-item .nav-link {
    padding: 0 20px;
    color: var(--text);
    transition: 0.3 ease-in-out;
  }
  
  .navbar-light .navbar-nav .nav-item .nav-link:hover,
  .navbar-light .navbar-nav .nav-item .nav-link:active {
    color: var(--primary);
  }
  
  .navbar i {
    font-size: 1.2rem;
    padding: 0 9px;
    cursor: pointer;
    transition: 0.3 ease-in-out;
  }
  
  .navbar i:hover .navbar i:active {
    color: var(--primary);
    filter: drop-shadow(0 0 0.5rem var(--primary));
  }
  
  /* mobile */
  .navbar-light .navbar-toggler {
    border: none;
    outline: none;
  }
  
  .navbar-toggler-icon {
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    transition: 0.3 ease-in-out;
    border-color: var(--primary);
    /* background-color: var(--accent); */
  }
  
  .navbar-toggler-icon:hover,
  .navbar-toggler-icon:active {
    color: var(--primary);
  }

/* Body */
.greeting {
    color: var(--neutral-gray-1, #303030);
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.72px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: Poppins;
    font-weight: bolder;
}

.intro1 {
    color: var(--neutral-gray-1, #303030);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.72px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: Poppins;
}

.intro2 {
    color: var(--neutral-gray-1, #303030);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.72px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: Poppins;
}

.goshopbtn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-decoration: none;
}

#goshopbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 430px;
    background: var(--primary);
    border: 1px solid lightgrey;
    border: 1px solid lightgrey;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    margin-top: 20px;
    text-decoration: none;
}

.goshopbtn {
    color: var(--primary);
    text-decoration: none;
}

button:focus {
    box-shadow: 2px 2px 2px 2px lightgrey;
  }
  
  button:hover {
    box-shadow: 2px 2px 2px 2px lightgrey;
    color: white !important;
  }

/* Footer */
.footer-img {
    height: 100px;
    margin-bottom: 15px;
}

footer {
    background-color: var(--accent);
}


footer h5 {
    color: var(--background);
    font-weight: 700;
    font-size: 1.2rem;
}

footer h6 {
    color: var(--background);
}

footer li {
    padding-bottom: 4px;
}

footer li a {
    text-decoration: none;
    color: var(--secondary);
    transition: 0.3 ease-in-out;
}

footer li a:hover,
footer li a:active {
    color: var(--background);
    text-decoration: none;
}

footer p {
    color: var(--secondary);
    padding-top: 7px;
    font-size: 0.9rem;
}

footer .teckyemail p {
    text-decoration: none;
    transition: 0.3 ease-in-out;
}

footer .teckyemail p:hover,
footer .teckyemail p:active {
    text-decoration: none;
}

footer .copyright a {
    color: var(--primary);
    font-size: 25px;
    height: 38px;
    width: 38px;
    background-color: white;
    display: inline-block;
    text-align: center;
    /* line-height: 38px; */
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
    margin: 0 8px;
    transition: 0.3 ease-in-out;
}

footer .copyright a:hover,
footer .social-icons a:hover {
    color: var(--background);
    background-color: var(--primary);
    text-decoration: none;
}